.certificate-card { 
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s;
  border-radius: 10px;
}

.certificate-card:hover .card-inner {
  transform: rotateY(180deg);
  box-shadow:
    0 0 12px 3px rgba(255, 255, 255, 0.9),
    0 0 24px 8px rgba(255, 255, 255, 0.5);
}

.card-front {
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.approved-label {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 4px 0;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  color: gold;
  font-weight: bold;
  font-size: 14px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
  z-index: 10;
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(0.85);
}

.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;

  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05)
  );
}

.card-back h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.badge {
  background: #22203b;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 12px;
  color: #fff;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.icon-button {
  background: #684040;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.icon-button:hover {
  background: #22203b;
}